.loaderOverlay {
  position: fixed;
  top: 60px;
  left: 0;
  width: 100vw;
  height: calc(100vh - 60px);
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; 
}

.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}